BART page
<%= form_tag("/results", method: "get") do %>
  <%= label_tag(:start, "Starting BART") %>
  <select name="start" class="form-control">
    <option> 12TH </option>
    <option> 16TH </option>
    <option> 19TH </option>
    <option> 24TH </option>
    <option> ASHB </option>
    <option> BALB </option>
    <option> BAYF </option>
    <option> CIVC </option>
    <option> COLM </option>
    <option> COLS </option>
    <option> OAC </option>
    <option> CONC </option>
    <option> CVLY </option>
    <option> DALY </option>
    <option> DBRK </option>
    <option> DELN </option>
    <option> DUBL </option>
    <option> EMBR </option>
    <option> FRMT </option>
    <option> FTVL </option>
    <option> GLEN </option>
    <option> HAYW </option>
    <option> LAFY </option>
    <option> LAKE </option>
    <option> MACR </option>
    <option> MLBR </option>
    <option> MONT </option>
    <option> NBRK </option>
    <option> NCON </option>
    <option> ORIN </option>
    <option> PHIL </option>
    <option> PITT </option>
    <option> PLZA </option>
    <option> POWL </option>
    <option> RICH </option>
    <option> ROCK </option>
    <option> SANL </option>
    <option> SBRN </option>
    <option> SFIA </option>
    <option> SHAY </option>
    <option> SSAN </option>
    <option> UCTY </option>
    <option> WCRK </option>
    <option> WDUB </option>
    <option> WOAK </option>

  </select>
  <%= label_tag(:end, "Ending BART") %>
  <select name="end" class="form-control">
    <option> 12TH </option>
    <option> 16TH </option>
    <option> 19TH </option>
    <option> 24TH </option>
    <option> ASHB </option>
    <option> BALB </option>
    <option> BAYF </option>
    <option> CIVC </option>
    <option> COLM </option>
    <option> COLS </option>
    <option> OAC </option>
    <option> CONC </option>
    <option> CVLY </option>
    <option> DALY </option>
    <option> DBRK </option>
    <option> DELN </option>
    <option> DUBL </option>
    <option> EMBR </option>
    <option> FRMT </option>
    <option> FTVL </option>
    <option> GLEN </option>
    <option> HAYW </option>
    <option> LAFY </option>
    <option> LAKE </option>
    <option> MACR </option>
    <option> MLBR </option>
    <option> MONT </option>
    <option> NBRK </option>
    <option> NCON </option>
    <option> ORIN </option>
    <option> PHIL </option>
    <option> PITT </option>
    <option> PLZA </option>
    <option> POWL </option>
    <option> RICH </option>
    <option> ROCK </option>
    <option> SANL </option>
    <option> SBRN </option>
    <option> SFIA </option>
    <option> SHAY </option>
    <option> SSAN </option>
    <option> UCTY </option>
    <option> WCRK </option>
    <option> WDUB </option>
    <option> WOAK </option>
  </select>
  <%= submit_tag("Calculate") %>

<% end %>
